@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Oswald:wght@700&family=Poppins:ital,wght@0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

body { 
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body:has(.card[data-color="blue"]:hover) {
  background-color: rgb(var(--blue-rgb) / 25%);
}

body:has(.card[data-color="green"]:hover) {
  background-color: rgb(var(--green-rgb) / 25%);
}

@layer utilities {
  .max-container {
    @apply mx-auto sm:p-16 pb-12 !pt-[126px] px-8 min-h-[calc(100vh-70px)];
  }

  .head-text {
    @apply sm:text-3xl text-2xl font-semibold sm:leading-snug font-poppins;
  }

  .subhead-text {
    @apply font-semibold text-xl relative font-poppins;
  }

  .red-gradient_text {
    @apply bg-gradient-to-r from-[#c2c1bf] to-[#070606f5] bg-clip-text text-transparent;
  }

  .input {
    @apply bg-white border-none text-gray-900 text-sm rounded-md focus:shadow-xl focus:translate-y-3 transition-all delay-100 block w-full p-2 mt-2.5 font-normal shadow-md;
  }

  .textarea {
    @apply block p-12 w-full text-sm text-gray-900 bg-white rounded-md focus:shadow-xl focus:translate-y-4 transition-all delay-100 mt-2.5 font-normal shadow-card;
  }

  .btn {
    @apply text-white bg-gradient-to-r from-[#8f8e8e] to-[#0a0707] focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }


  .footer {
    @apply max-w-5xl mx-auto sm:px-16 pb-6 px-8 flex flex-col gap-7;
  }

  .footer-container {
    @apply flex flex-wrap gap-7 items-center justify-between;
  }

  .info-box {
    @apply mx-5 relative flex text-white flex-col gap-3 max-w-2xl neo-brutalism-blue pt-4 pb-12 px-8;
  }

  .neo-btn {
    @apply py-3 px-6 rounded-lg text-blue-500 text-center font-semibold sm:w-1/2 w-[90%] -bottom-5 absolute mx-auto right-0 left-0 flex justify-center items-center gap-3;
  }

  .cta {
    @apply w-full flex items-center md:flex-row flex-col sm:mt-16 mt-8 gap-7;
  }

  .cta-text {
    @apply text-black-500 font-extrabold flex-1 text-3xl max-md:text-center;
  }
}

/* Navbar Styles */

.nav-white a > span {
   color: #000000;
}

.nav-container {
  text-align: center;
}

.nav {
  display: inline-flex;
  color: snow;
  align-items: center;
  gap: .5rem;
  
  
}

.nav *{
  flex: 1;
}

.active > i {
   background-color: snow;
   color: black;
   box-shadow: rgba(12, 12, 12, 0.25) 0px 4px 8px -2px, rgba(0, 0, 0, 0.096) 0px 0px 0px 1px;
}




.nav_txt {
  font-size: 14px;
  font-family: monospace;
  opacity: 0;
  transform: translateX(-50px);
  transition: all .3s ease-in-out;
}

.nav:hover .nav_txt {
  opacity: 1;
  transform: none;

} 

.nav:hover > i {
  box-shadow: rgba(116, 96, 7, 0.25) 0px 4px 8px -2px, rgba(209, 196, 10, 0.253) 0px 0px 0px 1px;
}




.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}









@keyframes slide-in {

  0% {
    transform: translateX(-100%);

  }

  100% {
    transform: none;
    opacity: 1;
  }
  
}

@keyframes border-changes {
  0% {
    border-radius: 10px 20px 50px 15px;
  }

  25% {
    border-radius: 70px 30px 10px 50px;
  }

  50% {
    border-radius: 0 70px 0 30px;
  }

  75% {
    border-radius: 62px 0 80px 0px;
  }

  100% {
    border-radius: 15px 20px 20px 15px;
  }
}






.cta-btn {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  color: snow;
  margin-top: 15px;

}

.cv {

  border: 1px solid snow;
  padding: .5rem .8rem;
  border-radius: 8px;
  font-weight: 700;
  transition: all .35s ease-in-out;
}

.cv:hover {
  background-color: rgb(143, 102, 0);
  border: none;
  border-radius: 0;
}

.cont {
  background-color: rgb(143, 102, 0);
  padding: .5rem .8rem;
  border-radius: 8px;
  font-weight: 700;
  transition: all .35s ease-in-out;
}

.cont:hover {
  background-color: transparent;
  border: 1px solid snow;
  border-radius: 0;
}
.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.sc-container {
  position: absolute;
    right: 5%;
    bottom: 10px;
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #71ff1f -20%, hsl(152, 100%, 70%) 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.btn-bg-black {
  background: linear-gradient(135deg, #ffffff -20%, #000000 120%);
}

.btn-bg-blue {
  background: linear-gradient(135deg, #ffffff -20%, #150258 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
    0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
  box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
}

/* Projects: Garphic Design Css */

.graphics-container {
 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  padding: 1rem;

}

.graphics-div {
  background-color: #fcfbfb;
 padding: 1rem;

 
}

.graphics-div h2 {
  font-size: 26px;
}

.graphics-image {
  width: 40%;
  margin: auto;
}


.graphics-div:last-child .graphics-image {
  height: 65%;
}

/* Socials Design */ 
.socials {

  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  }

    
  .socials img {
    width: 25px;
  }

  .socials a {
    padding: .2rem;
    border: 2px solid snow;
    border-radius: 50%;

  }




@media screen and (max-width: 820px) {
   .graphics-container {
    grid-template-columns: 1fr;
   }  

   .hero {
    width: 100%;
   }

   .hero > article > p{
    font-size: 13px;
   }

   .nav_txt {
    display: none;
   }

}